:root {
    --white: #f4f4f4;
    --black: #272F3D;
    --primary-color: #FF4F12;
    --primary-color-2: #101828;
    --transparent-5: rgba(16, 24, 40, .05);
    --transparent-10: rgba(255, 255, 255, 0.05);
    --overlay-bg: rgba(45, 46, 47, 0.9);
    --gray-20: #D3D4DB;
    --error: rgb(255, 12, 12);
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Rostelecom Basis Medium';
    font-display: swap;
    src: local('Rostelecom Basis Medium'), local('RostelecomBasis-Medium'), url('/fonts/RostelecomBasis-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Rostelecom Basis Medium', Tahoma, Verdana, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    background: var(--white);
}

body.with_popup {
    overflow: hidden;
}

main {
    margin: 60px 0 48px;
    padding: 56px 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 20px 0 20px;
    background: var(--white);
    -webkit-box-shadow: 0 3px 7px var(--gray-20);
    box-shadow: 0 3px 7px var(--gray-20);
    z-index: 2;
}

header .logo {
    display: block;
    width: 24px;
    height: 40px;
    margin: 5px;
    background: url('/images/logos_dc.png') 0 0 no-repeat;
}

.container {
    width: 1504px;
    padding: 0 208px;
    margin: auto;
}

h1 {
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 56px;
}

h2 {
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
}

.btn {
    max-width: 100%;
    min-width: 120px;
    padding: 8px;
    color: var(--white);
    background: var(--primary-color);
    font-size: 14px;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}

.btn:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--transparent-5)), to(var(--transparent-5)));
    background-image: -o-linear-gradient(var(--transparent-5), var(--transparent-5));
    background-image: linear-gradient(var(--transparent-5), var(--transparent-5));
}

.btn_send-form {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 26px;
    background: var(--primary-color-2);
}

.btn_send-form:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--transparent-10)), to(var(--transparent-10)));
    background-image: -o-linear-gradient(var(--transparent-10), var(--transparent-10));
    background-image: linear-gradient(var(--transparent-10), var(--transparent-10));
}

.comments {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px 25px;
    margin-top: 48px
}

.no_comment {
    text-align: center;
    font-weight: bold;
}

.comment_item {
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 10px var(--gray-20);
    box-shadow: 0 3px 10px var(--gray-20);
    padding: 25px 35px;
    overflow: hidden;
}

.comment_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 25px;
    font-size: 18px;
}

.comment_body {
}

.comment_date {
    text-align: right;
    color: rgba(39, 47, 61, 0.7);
    font-size: .85rem;
    padding: 5px 0;
}

/*Popup*/
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: var(--overlay-bg);
    opacity: 0;
    -webkit-transition: opacity linear .3s;
    -o-transition: opacity linear .3s;
    transition: opacity linear .3s;
    z-index: 100;
}

.overlay.active {
    opacity: 1;
}

.popup {
    width: auto;
    background: var(--white);
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 10px #222;
    box-shadow: 1px 1px 10px #222;
    overflow: auto;
}

.popup_header {
    min-width: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-shadow: 0 5px 10px #E4E4E6;
    box-shadow: 0 5px 10px #E4E4E6;
    padding: 24px 32px;
    font-size: 18px;
}

.popup_header span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.popup_header span svg {
    margin: auto 0;
}

.popup form {
    width: 550px;
    min-width: 250px;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10px 32px 24px;
}

.form_group {
    position: relative;
    height: auto;
    min-height: 48px;
    border: 1px solid #B8B9C0;
    margin-top: 16px;
    border-radius: 7px;
    overflow: hidden;
}

.form_group_txt {
    height: 97px;
}

.form_group label {
    position: absolute;
    left: 10px;
    top: 12px;
    padding-left: 2px;
    color: #B8B9C0;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.filled label,
.focused label {
    -webkit-transform: translate(-1px, -10px);
    -ms-transform: translate(-1px, -10px);
    transform: translate(-1px, -10px);
    font-size: 12px;
    display: block;
}

.form_group.error {
    border-color: var(--error);
}

.form_group.error textarea,
.form_group.error input {
    color: var(--error);
}

.form_group input,
textarea {
    position: absolute;
    left: 10px;
    top: 14px;
    width: calc(100% - 20px);
    background: transparent;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.form_group input {
    width: calc(100% - 35px);
}

.filled textarea,
.focused textarea,
.filled input,
.focused input {
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    transform: translateY(8px);
}

textarea {
    height: 97px;
    resize: none;
}

.btn_block {
    padding: 16px 35px;
}

/*INFO*/
.info {
    width: 100%;
    max-width: 320px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: transparent;
    padding: 16px;
    margin-top: 48px;
    border-radius: 8px;
    opacity: 0;
    -webkit-transition: height cubic-bezier(0.4, 0, 0.2, 1) 0.3s, background 0.3s ease-in-out, opacity linear .3s;
    -o-transition: height cubic-bezier(0.4, 0, 0.2, 1) 0.3s, background 0.3s ease-in-out, opacity linear .3s;
    transition: height cubic-bezier(0.4, 0, 0.2, 1) 0.3s, background 0.3s ease-in-out, opacity linear .3s;
    overflow: hidden;
}

.info.active {
    opacity: 1;
}

.info_icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-right: 12px;
}

.info_close {
    background: rgba(16, 24, 40, 0.05);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 24px;
    height: 24px;
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 8px;
    margin-left: 12px;
    cursor: pointer;
}

.info p {
    color: rgba(16,24,40,0.5);
}

.info.success {
    background: rgba(0, 211, 89, 0.1);
}

.info.error {
    background: rgba(255, 12, 12, 0.1);
}

.success h3 {
    color: rgb(0, 211, 89);
}

.error h3 {
    color: var(--error);
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 12px 0;
    background: var(--white);
}

@media (max-width: 1919px) {
    .container {
        width: 1408px;
        padding: 0 52px;
    }
}

@media (max-width: 1511px) {
    .container {
        width: 1224px;
        padding: 0 104px;
    }
}

@media (max-width: 1511px) {
    .container {
        width: 1224px;
        padding: 0 104px;
    }
}

/*tablet*/
@media (max-width: 1279px) {
    .container {
        width: 944px;
        padding: 0 40px;
    }

    .comments {
        -ms-grid-columns: 1fr;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px 25px;
        margin-top: 40px
    }

    .info {
        margin-top: 40px;
    }
}

@media (max-width: 1023px) {
    main {
        padding: 52px 0;
    }

    .container {
        width: 624px;
        padding: 0 72px;
    }

    h1 {
        font-size: 24px;
        margin-bottom: 52px;
    }

    h2 {
        font-size: 20px;
    }

    .popup_header {
        padding: 16px 24px;
    }

    .popup form {
        padding: 8px 24px 16px ;
    }

    .popup_header span svg {
        height: 20px;
    }
}

@media (max-width: 767px) {
    .container {
        width: 556px;
        padding: 0 40px;
    }
}

/*mobile*/
@media (max-width: 639px) {
    body {
        font-size: 14px;
        line-height: 20px;
        color: var(--black);
        background: var(--white);
    }

    main {
        padding: 40px 0;
    }

    h1 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 40px;
    }

    h2 {
        font-size: 16px;
        line-height: 20px;
    }

    .container {
        width: 328px;
        padding: 0 24px;
    }

    .comments {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        margin-top: 32px
    }

    .comment_header {
        font-size: 16px;
    }

    .info {
        margin-top: 32px;
    }

    .popup_header {
        padding: 12px 16px;
    }

    .popup form {
        padding: 8px 16px 12px;
    }

    .popup_header span svg {
        height: 16px;
    }
}

@media (max-width: 374px) {
    .container {
        width: 280px;
        padding: 0 20px;
    }
}